<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237038372784-ei1fat52rdo60iia2qa05i7id4folk9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237038372784-ei1fat52rdo60iia2qa05i7id4folk9h</string>
	<key>API_KEY</key>
	<string>AIzaSyA8DteDySnes2klF7qjyrx6JEjpW3OGSw4</string>
	<key>GCM_SENDER_ID</key>
	<string>237038372784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SamuelFolledo.SnailMail</string>
	<key>PROJECT_ID</key>
	<string>snailmail-c34ba</string>
	<key>STORAGE_BUCKET</key>
	<string>snailmail-c34ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237038372784:ios:32661a734627a664c77875</string>
	<key>DATABASE_URL</key>
	<string>https://snailmail-c34ba.firebaseio.com</string>
</dict>
</plist>